*
body}
background-color: grey;
 
table {
  width: 100%;
  border: 1px solid;
  background-color: whitesmoke;
}
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Montserrant', sans-serif;
}

#landing  {
*
	border: 1px solid #ccc; /* White border */
	margin-top: 13;
	height: 88;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
  }

#gallery{
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	padding: 8vh 0;
}
h2 
{
	color: black;
}

ul {
    list-style: none;
    padding: 0;
}

.tools {
    color: white;
    border: 5px white;
}
div {
  background-color: white;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;